body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-content {
  margin-top: 48px;
  padding: 5vh 0;
  height: max-content;
  align-content: center;
  min-height: calc(100vh - 50px);
  background: linear-gradient(to bottom, #8FBC8F, #A9A9A9, #DEB887); 
}

#home {
  background-color: #f4f4f4;
}

#identify-plant {
  background-color: #e2e2e2;
}

#check-disease {
  background-color: #dcdcdc;
}
