body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-content {
  padding-top: 30px;  /* Adjust based on navbar height */
}

#home {
  background-color: #f4f4f4;
}

#identify-plant {
  background-color: #e2e2e2;
}

#check-disease {
  background-color: #dcdcdc;
}
